token: "{{ k3s_token }}"
node-name: "{{ inventory_hostname }}"
node-ip: "{{ k3s_effective_node_ip }}"
{% if (k3s_node_external_ip | default('') | length) > 0 %}
node-external-ip: "{{ k3s_node_external_ip }}"
{% endif %}
{% if k3s_role != 'server' or inventory_hostname != k3s_server_host %}
server: "{{ k3s_server_url }}"
{% endif %}
{% if k3s_role != 'server' and (k3s_disable_apiserver_lb | bool) %}
disable-apiserver-lb: true
{% endif %}
{% if k3s_role == 'server' %}
write-kubeconfig-mode: "{{ k3s_write_kubeconfig_mode }}"
advertise-address: "{{ k3s_effective_advertise_address }}"
{% if inventory_hostname == k3s_server_host and (k3s_cluster_init | default(false) | bool) %}
cluster-init: true
{% endif %}
{% if k3s_secrets_encryption_enabled | bool %}
secrets-encryption: true
secrets-encryption-provider: "{{ k3s_secrets_encryption_provider }}"
{% endif %}
flannel-backend: {{ k3s_flannel_backend }}
disable-network-policy: {{ k3s_disable_network_policy | bool | lower }}
cluster-cidr: "{{ k3s_cluster_cidr }}"
service-cidr: "{{ k3s_service_cidr }}"
etcd-snapshot-schedule-cron: "{{ k3s_etcd_snapshot_schedule_cron }}"
etcd-snapshot-retention: {{ k3s_etcd_snapshot_retention }}
etcd-snapshot-dir: "{{ k3s_etcd_snapshot_dir }}"
etcd-snapshot-compress: {{ k3s_etcd_snapshot_compress | bool | lower }}
tls-san:
{% for item in k3s_effective_tls_sans %}
  - "{{ item }}"
{% endfor %}
kube-apiserver-arg:
{% if (k3s_server_kube_apiserver_args | default([]) | length) == 0 %}
  []
{% else %}
{% for item in k3s_server_kube_apiserver_args %}
  - "{{ item }}"
{% endfor %}
{% endif %}
disable:
{% for item in k3s_server_disable_components | default([]) %}
  - "{{ item }}"
{% endfor %}
{% endif %}
{% if (k3s_effective_node_labels | length) > 0 %}
node-label:
{% for item in k3s_effective_node_labels %}
  - "{{ item }}"
{% endfor %}
{% endif %}
{% if (k3s_effective_node_taints | length) > 0 %}
node-taint:
{% for item in k3s_effective_node_taints %}
  - "{{ item }}"
{% endfor %}
{% endif %}
