#!/bin/sh /etc/rc.common

START=95
USE_PROCD=1

start_service() {
  {{ openwrt_edge_egress_apply_script_path }}
}

reload_service() {
  start_service
}

service_triggers() {
  procd_add_reload_trigger network
}
